Repository nucypher/rust-umbral, pull requests merged in 2022-01, with the labels that each got.

#87 Bump k256 version and use the new functionality
  .github/workflows/umbral-pre.yml
  .github/workflows/workspace.yml
  CHANGELOG.md
  Cargo.toml
  umbral-pre-python/Cargo.toml
  umbral-pre-wasm/Cargo.toml
  umbral-pre-wasm/src/lib.rs
  umbral-pre/Cargo.toml
  umbral-pre/src/bindings_python.rs
  umbral-pre/src/capsule.rs
  umbral-pre/src/capsule_frag.rs
  umbral-pre/src/curve.rs
  umbral-pre/src/hashing.rs
  umbral-pre/src/hashing_ds.rs
  umbral-pre/src/key_frag.rs
  umbral-pre/src/keys.rs
  umbral-pre/src/lib.rs
Labels: enhancement, cryptography, API, ABI

#91 Remove `clone()` calls from library internals
  CHANGELOG.md
  umbral-pre-python/docs/index.rst
  umbral-pre-python/umbral_pre/__init__.pyi
  umbral-pre-wasm/src/lib.rs
  umbral-pre/bench/bench.rs
  umbral-pre/src/bindings_python.rs
  umbral-pre/src/capsule.rs
  umbral-pre/src/capsule_frag.rs
  umbral-pre/src/key_frag.rs
  umbral-pre/src/keys.rs
  umbral-pre/src/lib.rs
  umbral-pre/src/pre.rs
Labels: WASM, Python, API

#92 Use the standard hash2curve implementation instead of `unsafe_hash_to_point()`
  CHANGELOG.md
  umbral-pre-wasm/src/lib.rs
  umbral-pre/Cargo.toml
  umbral-pre/bench/bench.rs
  umbral-pre/src/bench.rs
  umbral-pre/src/curve.rs
  umbral-pre/src/hashing.rs
  umbral-pre/src/params.rs
Labels: cryptography, ABI

#78 WASM bindings
  CHANGELOG.md
  umbral-pre-wasm/Cargo.toml
  umbral-pre-wasm/src/lib.rs
  umbral-pre/Cargo.toml
  umbral-pre/src/bindings_wasm.rs
  umbral-pre/src/capsule.rs
  umbral-pre/src/capsule_frag.rs
  umbral-pre/src/key_frag.rs
  umbral-pre/src/lib.rs
  umbral-pre/src/serde.rs
Labels: WASM
